.left-sidebar {
    background: #efefef;
    width: 250px;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    transition: width 0.1s ease;

    &--minified {
        width: 50px;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
        height: 30px;
        margin: 0 -20px;
        padding: 0 20px;
        cursor: pointer;
        transition: opacity 0.1s ease;
        white-space: nowrap;
        &:hover {
            opacity: 0.75;
        }
    }
}